<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>Harsh Sharma / <%= title %></h1>
        <h1>Codeial Aadish/ <%= title %></h1>
        <h1>Dikshant</h1>
    </body>
</html>