<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Navbar</title>
    <link rel="stylesheet" href="css/navbar.css" />

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.2.js"></script>
  </head>
  <body>
    <nav>
      <div class="nav">
        <label class="logo">
          <a href="#"><img src="img/logo.jpg" alt="logo" id="logo-img" /></a>
          EV Locator</label
        >

        <ul id="nav-ul">
          <li class="active nav-ul-li"><a href="#">Home</a></li>
          <li class="nav-ul-li dropdown"><a href="#"> Admin </a></li>
          <li class="nav-ul-li"><a href="#">Contact Us</a></li>
          <li class="nav-ul-li"><a href="#">Login</a></li>
        </ul>

       
    <script>
      // $(window).on('load',function(){
      //     $('.loader_bg').fadeToggle();

      // })
      $(document).ready(function () {
        //Page Ready For JAvascript DOM
        $("#icon").click(function () {
          $("#nav-ul").toggleClass("show");
        });
      });
    </script>
  </body>
</html>
